ul {
      list-style-type: none;
    border: 1px solid lightgray;
    padding: 0;
    margin: 0;
    margin-top: -2px;

  li {
    cursor: pointer;
    padding: 10px
  }

  li:hover {
    background-color: lightgray;
  }
}